<div class="row">
  <h2 class="ready">Ready to get started?</h2>
</div>
<div class="showmsg">
  
</div>
<div class="navigation1" id="navigation1">
  <a class="nav-toggler1" href="#" id="navToggler1">
    <span class="show-nav1 btn btn-default">MESSAGE US</span>
    <span class="hide-nav1">&times;</span>
  </a>
  <div class="navigation__inner1 home_service1">
    <div class="form-group input_text">
      <label>Name</label>
      <input class="form-control" placeholder="Enter Name" id="name">
    </div>
    <div class="form-group input_text">
      <label>Email</label>
      <input class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group input_text">
      <label>Message</label>
      <textarea class="form-control txtar input_text" rows="3" id="message"></textarea>
    </div>
    <button type="submit" class="btn btn-default sub button-submit" id="submit-form">Submit</button>
</div>
</div>

<script>
(function ($, window, document, undefined) {
  $(function () {
    var $navigation1 = $('#navigation1'), $navToggler1 = $('#navToggler1');
    $('#navToggler1').on('click', function (e) {
      e.preventDefault();
      $navigation1.toggleClass('expanded');
    });
  });
}(jQuery, this, this.document));

</script>