<div class="row">
  <h1>About Cloudband Solutions Company</h1>
</div>
<div class="row">
    <div class="col-md-2 m1"></div>
    <div class="col-md-8 about2">
      <h4>ABOUT US</h4>
        <p>
         Cloudband Solutions Co. is a Filipino based technology company that creates information systems through the use of open source technology. The company started in August, 2014 with three core members. Currently, it develops and maintains IT projects in the fields of finance, shipping and office administration.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 about3">
       <h4>MISSION</h4>
        <p>
          “Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.”
        </p>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 about4">
       <h4>VISION</h4>
        <p>
          “Cloudband Solutions Co. envisions itself to be the best Filipino owned, pure open source solutions provider for both local and international organizations and to be known as an advocacy of the kaizen principle.”
        </p>
    </div>
     <div class="col-md-2"></div>
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 about4">
       <h4>WHAT MAKES A CLOUDBAND SOLUTIONS PROJECT</h4>
        <ul>
          <li>It should address an organization need and not a want</li>
          <li>It should have the potential of maintenance after development</li>
          <li>It should primarily focus on helping people </li>
          <li>Its features should contain some sort of connectivity</li>
       </ul>
    </div>
    <div class="col-md-2"></div>
</div>
