<div class="row">
  <div class="col-md-4 a1">
    <%= image_tag "a1.png" %>
  </div>
  <div class="col-md-6 abouts">
    <h3>About Us </h3>
      <p>
        Cloudband Solutions Co. is a technology company that aims to provide custom networked database driven systems engineered with the latest open source technology that helps you achieve your goals. We ensure that our solutions withstand the test of time through continuous improvement and high availability.
      </p>
  </div>

  <div class="col-md-2">
    <%= image_tag "a3.png" %>
</div>
</div> 

<div class="row">
  <div class="col-md-4 mission">
    <h3>Mission</h3>
      <p>
        “Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.”
      </p>
  </div>

</div>  





