<div class="row">
  <h1 >About Cloudband Solutions Company </h1>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 m1">
     <center><%= image_tag "hehe.png" %></center>
    </div>
    <div class="col-md-8 about2">
      <h3>About Us </h3>
        <p>
          Cloudband Solutions Co. is a technology company that aims to provide custom networked database driven systems engineered with the latest open source technology that helps you achieve your goals. We ensure that our solutions withstand the test of time through continuous improvement and high availability.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 about3">
       <h3>Mission</h3>
        <p>
          “Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.”
        </p>
    </div>
    <div class="col-md-2 m1">
     <center><%= image_tag "mission.png" %></center>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 v1">
     <center><%= image_tag "vision.png" %></center>
    </div>
    <div class="col-md-8 about4">
       <h3>Vision</h3>
        <p>
          “Cloudband Solutions Co. envisions itself to be the best Filipino owned, pure open source solutions provider for both local and international organizations and to be known as an advocacy of the kaizen principle.”
        </p>
    </div>
     <div class="col-md-1"></div>
</div>

