<div class="row">
  <div class="responsive_about">
    <div class="col-md-6 abouts">
      <h3>About Us </h3>
        <p>
          Cloudband Solutions Co. is a technology company that aims to provide custom networked database driven systems engineered with the latest open source technology that helps you achieve your goals. We ensure that our solutions withstand the test of time through continuous improvement and high availability.
        </p>
    </div>
    <div class="col-md-4 a1">
      <%= image_tag "a1.png" %>
    </div>
  
    <div class="col-md-2">
      <%= image_tag "a3.png" %>
   </div>
  </div>
</div> 

<div class="row">
  <div class="second_row">
    <div class="col-md-4 mission">
      <h3>Mission</h3>
        <p>
          “Cloudband Solutions Co. aims to provide custom networked systems engineered with the latest open source technology that helps businesses and organizations achieve their goals and ensures solutions that withstands the test of time through continuous improvement and high availability.”
        </p>
    </div>
     <div class="col-md-4 tracy">
      <div class="row">
        <div class="col-md-5 mother">
         
        </div>
        <div class="col-md-7">
          <p class="mcconnel">
          Tracy: I want to end poverty.
          </p>
          <p class="ted">
             Ted: Then every decision you make from here on out should be in service of that.
          </p>
        </div>
      </div>
     </div>
  </div>
</div>  

<div class="row">
  <div class="col-md-4">
   <center><div class="image_here"> </div></center>
   <h3>Kathleen Zita Gayle G. Logmao</h3>
   <h5>Managing Partner / Web Designer </h5>
  </div>
  <div class="col-md-4">
    <center><div class="image_here"> </div></center>
    <h3>Raphael B. Alampay</h3>
    <h5>Managing Partner / Senior Programmer</h5>
  </div>
  <div class="col-md-4">
    <center><div class="image_here"> </div></center>
    <h3>Lani Marie Gonzales</h3>
    <h5>Office Manager</h5>
  </div>
</div>