<div class="team">
  <div class="row">
    <div class="col-md-12">
        <h1>The Executive Team</h1>
    </div>
  </div>
</div>

<div class="row teams">
  <div class="col-md-4">
   <center><div class="image_here_happy"><%= image_tag "kat1.png" %></div></center>
   <h3 class="name">Kathleen Zita Gayle G. Logmao</h3>
   <h5>Managing Partner / Web Designer </h5>
   <h5 class="email">Email: kathleenlogmao@gmail.com</h5>
  </div>
  <div class="col-md-4">
    <center><div class="image_here_happy"><%= image_tag "hap1.png" %></div> </center>
    <h3 class="name">Raphael B. Alampay</h3>
    <h5>Managing Partner / Senior Programmer</h5>
    <h5 class="email">Email: raphael.alampay@gmail.com</h5>
  </div>
  <div class="col-md-4">
    <center><div class="image_here_happy"><%= image_tag "lani1.png" %></div></center>
    <h3 class="name">Lani Marie Gonzalez</h3>
    <h5>Office Manager</h5>
    <h5 class="email">Email: lanimarie.gonzalez@gmail.com</h5>
  </div>
</div>
