<div class="row">
</div>
<div class="map">
  <div class="row blackop">
    <div class="col-md-6">
      <div class="row">
         <%= image_tag "k2.png" %>  <span class="add">ADDRESS: #1620 Prince David Loyola Heights, Katipunan, Quezon City</span> 
      </div>
      <div class="row">
         <%= image_tag "k1.png" %>  <span class="add">EMAIL: raphael.alampay@gmail.com / kathleenlogmao@gmail.com </span> 
      </div>
      <div class="row">
         <%= image_tag "k3.png" %> <span class="add">TELEPHONE NUMBER: 638-4882 </span> 
      </div>
    </div>
  </div>
</div>

