<div class="for_non_mobile homies">
  <center><%= image_tag "logowhite.png" %></center>
  <center><h1> Technology for a connected world </h1></center>
</div>
<div class="for_mobile homies_mobile">
  <center><%= image_tag "logowhite.png" %></center>
  <center><h1> Technology for a connected world </h1></center>
</div>