<h1>FROM: CLOUDBAND SOLUTIONS, CO.</h1>
<span>Name: <%= @name.upcase %><span> <br />  
<span>Email Address: <%= @email %><span> <br />
<span>Message: </span> <br />
<p style="text-align: justify">
  <b><%= @message %></b>
</p>