<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/1907944_1049864871697304_2006577144208635956_n.jpg?oh=425ff1d7cd5a9bb22d59431d464b4433&oe=555FD66D&__gda__=1432462343_66d36982809f8f0d66ab361a18280fc2">

<div style="border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2; margin-top: -30px; padding: 10px;">

   <span style="font-size: 20px;">Name: <%= @name.upcase %><span> <br />  
   <span style="font-size: 20px;">Email Address: <%= @email %><span> <br />
   <span style="font-size: 20px;">Message: </span> <br />
  <p>
   " <%= @message %> "
  </p>
</div>