@media only screen and (min-device-width : 1300px){
  .for_mobile {
    display: none;
  }

  .for_non_mobile {
    display: block;
  }

  #home {
  .homies_mobile {
    background-color: rgba(0,0,0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    width: 100%;
    height: 100%;

    h1 {
      color: #0cd0a0;
      font-weight: bold;
      font-size:3em;
      margin-top: -10px;
      }

    img {
      width: 100vw;
      margin-top: 28%;
      margin-left: -10%;
      padding: 10px;
      }
    }
  }

  #service {
 
  .our_services_mobile {
    background-color: #e2e2e2;
    padding-bottom: 30px;
    padding-top: 20px;
    img {
      width: 100vw;
    }

     h1 {
      color: black;
      font-family: 'Muli', sans-serif;
      font-weight: bold;
      text-align: center;
    }
  }
}



}

@media only screen and (min-device-width : 480px) and (max-device-width: 1000px) {
   .consult {
      display: none;
    }
   #service {
    .responsive {
      .lefts img{
         margin-top: 1px;
         width: 103vw;
       }
      .services {
        padding-top: 10px;
        margin-bottom: 10px;
        color: #0cd0a0;
        font-size: 2vw;
        text-align: center;
        margin-left: -10%;
      }
     }
    .our_services {
      background-color: #e2e2e2;
      padding-bottom: 30px;
      padding-top: 5px;
      img {
        width: 100vw;
      }
      h1 {
        color: black;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 3vw;
      }

      h4 {
        color: black;
        font-family: 'Muli', sans-serif;
        text-align: center;
        font-size: 2.3vw;
      }
      .col-md-6 {
        margin-top: -1%;
      }
      .imgvw img {
        display: none;
      }

      .imgvw {
        margin-top: -20px;
      }

      .titles {
        text-align: center;
        color: #1abc9c;
        font-size: 2vw;
      }
      }
  }
}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #contact {

  .move_add img {
    width: 10vw;
  }
  .add {
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 1.5vw;
   }

   .form-group {
    label {
      font-size: 1.6vw;
    }
   }

  }

}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .consult {
      display: none;
    }
   #service {
    .responsive {
      .lefts img{
         margin-top: 1px;
         width: 103vw;
       }
      .services {
        padding-top: 10px;
        margin-bottom: 10px;
        color: #0cd0a0;
        font-size: 2.8vw;
        text-align: center;
        margin-left: -10%;
        margin-top: 2%;
      }
     }
    .our_services {
      background-color: #e2e2e2;
      padding-bottom: 30px;
      padding-top: 5px;
      margin-top: 2%;
      img {
        width: 100vw;
      }
      h1 {
        color: black;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 3vw;
      }

      h4 {
        color: black;
        font-family: 'Muli', sans-serif;
        text-align: center;
        font-size: 2.3vw;
      }
      .col-md-6 {
        margin-top: -1%;
      }
      .imgvw img {
        display: none;
      }

      .imgvw {
        margin-top: -20px;
      }

      .titles {
        text-align: center;
        color: #1abc9c;
        font-size: 2.8vw;
      }
      }
  }

   #about_us {
     .team {
      h1 {
          text-align: center;
          font-weight: 900;
          font-size: 2em;
          }
      }

      h5 {
        font-size: 3vw;
        margin-top: -1%;
      }

      .image_here_happy img{
        width: 20vw;
        margin-top: -10px;
      }

      .name {
        color: #0cd0a0;
        font-size: 4vw;
      }

      h1 {
        text-align: center;
        font-weight: 900;
        margin-bottom: 1%;
        font-size: 5vw;
      }

      h4 {
        font-size: 3vw;
      }

      .about2 {
        margin-top: -2px;
        p {
        text-align: justify;
        color: #0cd0a0;
        font-size: 3.2vw;
        margin-top: -10px;
       }
      }

     .about3 {
       margin-top: -2px;
          p {
          text-align: justify;
          color: #0cd0a0;
          font-size: 3.2vw;
          margin-top: -10px;
        }
      }

      .about4 {
        margin-top: -2px;
          p {
          text-align: justify;
          color: #0cd0a0;
          font-size: 3.2vw;
          margin-top: -10px;
        }

        li {
          color: #0cd0a0;
          font-size: 3.2vw;
        }
      }
    }

    #contact {

  .move_add img {
    width: 15vw;
    float: left;
    margin-top: 2%;
    margin-right: 1%;
  }

  .move_add {
   padding: 0;
   margin-top: 3%;
   margin-left: 10%;
  }
  .add {
    text-align: left;
    padding-top: 30vwpx;
    padding-left: 50px;
    font-size: 3vw;
   }

   .form-group {
    label {
      font-size: 3vw;
    }
   }
   .ready {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 5vw;
   }

   .navigation1 {
     margin-left: 10%;
     font-size: 3vw;
   }

  .expanded .navigation__inner1 {
    display: block;
    padding: 20px;
    width: 80vw;
    padding-top: 0px;
  }

}
  
}

@media only screen and (min-device-width : 481px) and (max-device-width: 800px) {
    .our_services {
      background-color: #e2e2e2;
      padding-bottom: 30px;
      padding-top: 5px;
      margin-top: 4%;
    }
    .services {
      margin-top: 2%;
      font-size: 3vw;
    }
   .titles {
      text-align: center;
      color: #1abc9c;
      font-size: 4vw;
    }
  }

@media only screen and (min-device-width : 630px) and (max-device-width: 991px) {
 #about_us {
 .team {
    h1 {
      text-align: center;
      font-weight: 900;
      font-size: 3vw;
      margin-top: 10px;
    }
  }
  .image_here_happy img{
      width: 20vw;
      margin-top: -10px;
  }
  .name {
      color: #0cd0a0;
      font-size: 2vw;
    }
}
}

@media only screen and (min-device-width : 900px) and (max-device-width: 991px) {
#about_us {
  .email {
    display: none;
  }

  .image_here_happy img{
    width: 20vw;
    margin-top: -10px;
  }
}
}

@media only screen and (min-device-width : 800px) and (max-device-width: 900px) {

#about_us {
    .email {
      display: none;
    }

    .image_here_happy img{
      width: 20vw;
    }
  }
}

/* iphone 6 and iphone 6 plus */
@media only screen and (min-device-width : 375px) and (max-device-width: 415px) {
 #about_us {
 .team {
    h1 {
      text-align: center;
      font-weight: 900;
      font-size: 2em;
      margin-top: 5%;
      margin-bottom: 1%;
    }
  }
  .image_here_happy img{
      width: 30vw;
      margin-top: -10px;
  }
  .name {
      color: #0cd0a0;
      font-size: 20px;
  }
  }

#contact {
  .move_add img {
    width: 20vw;
    float: left;
    margin-top: 2%;
    margin-right: 1%;
  }

  .move_add {
   padding: 0;
   margin-top: 10%;
   margin-left: 10%;
  }
  .add {
    text-align: left;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 3vw;
   }

   .form-group {
    label {
      font-size: 1.6vw;
    }
   }
   .ready {
    margin-top: 10%;
    margin-left: 10%;

    h2 {
      font-size: 2vw;
    }
   }

   .navigation1 {
     margin-left: 10%;
   }

  .expanded .navigation__inner1 {
    display: block;
    padding: 20px;
    width: 80vw;
    padding-top: 0px;
  }

}


}

@media only screen and (min-device-width : 490px) and (max-device-width: 590px) {
 #about_us {
  h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 1%;
    margin-top: 3%;
    font-size: 5vw;
  }
  h4 {
    font-size: 3vw;
  }
  .about2 {
    p {
    text-align: justify;
    color: #0cd0a0;
    font-size: 3vw;
  }
  }

 .about3 {
      p {
      text-align: justify;
      color: #0cd0a0;
      font-size: 3vw;
    }
  }

  .about4 {
      p {
      text-align: justify;
      color: #0cd0a0;
      font-size: 3vw;
    }

    li {
      color: #0cd0a0;
      font-size: 3vw;
    }
  }
}
}

@media only screen 
and (min-device-width : 700px) 
and (max-device-width : 991px) {
  #contact {

  .move_add img {
    width: 10vw;
    float: left;
    margin-top: 3%;
    margin-right: 1%;
  }

  .move_add {
   padding: 0;
   margin-top: 2%;
   margin-left: 10%;
  }
  .add {
    text-align: left;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 1.5vw;
   }

   .form-group {
    label {
      font-size: 1.6vw;
    }
   }
   .ready {
    margin-top: 10px;
    margin-left: 10%;

    h2 {
      font-size: 2vw;
    }
   }

   .navigation1 {
     margin-left: 10%;
   }

  .expanded .navigation__inner1 {
    display: block;
    padding: 20px;
    width: 80vw;
    padding-top: 0px;
  }

}
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 690px) {
  #contact {

  .move_add img {
    width: 10vw;
    float: left;
    margin-top: 2%;
    margin-right: 1%;
  }

  .move_add {
   padding: 0;
   margin-top: 10%;
   margin-left: 10%;
  }
  .add {
    text-align: left;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 1.5vw;
   }

   .form-group {
    label {
      font-size: 1.6vw;
    }
   }
   .ready {
    margin-top: 1%;
    margin-left: 10%;

    h2 {
      font-size: 2vw;
    }
   }

   .navigation1 {
     margin-left: 10%;
   }

  .expanded .navigation__inner1 {
    display: block;
    padding: 20px;
    width: 80vw;
    padding-top: 0px;
  }

}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #contact {
    .move_add img {
      width: 10vw;
    }
    .add {
      text-align: left;
      padding-top: 20px;
      padding-left: 30px;
      font-size: 1.5vw;
     }

     .form-group {
      label {
        font-size: 1.6vw;
      }
     }
  }
} 
