 /* Portrait and Landscape -- iPhones */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
  .navbar-header {
    display: none;
  }

  .logo img{
    display: none;
  }

  #topArea {
    height: 600px!important;

    h4 {
      text-align: center;
      font-size: 20px!important;
      top: 225px!important;
    }

    #auther {
      font-size: 13px!important;
      top: 220px!important;
    }

  }

  .ui.card:last-child {
    margin-top: 5%;
  }

  #scene2 {
    margin-top: 10%!important;

    h3 {
      font-size: 20px!important;
    }

    .ui.form {
      margin-top: 10%!important;
      width: 100%;
    }

    .details {
      font-size: 15px!important;
      margin-top: 5%!important;
    }
  }

  #scene1 {
    .textbox {
      width: auto!important;
      height: auto!important;
      margin-top: 15px;
    }
  }

  .for_non_mobile {
    display: none!important;   
  }

  .for_mobile {
    display: block!important;
  }
}

@media screen 
  and (device-width: 481px) 
  and (device-height: 667px) 
 {

  .for_non_mobile {
    display: none!important;   
  }

  .for_mobile {
    display: block!important;
  }

  .navbar-header {
    display: none!important;
  }


  #topArea {

    h4 {
      text-align: center;
      font-size: 20px!important;
      top: 265px!important;
    }

    #auther {
      font-size: 13px!important;
      top: 220px!important;
    }

  }


  #scene1 {
    .textbox {
      width: auto!important;
      height: auto!important;
      margin-top: 15px;
    }
  }
}

/* Portrait and Landscape -- GALAXY s3 */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    .for_non_mobile {
      display: none!important;   
    }

    .for_mobile {
      display: block!important;
    }

    .navbar-header {
      display: none!important;
    }

    #scene1 {
      .textbox {
        width: auto!important;
        height: auto!important;
        margin-top: 15px;
      }
    }

}

/* Portrait and Landscape -- GALAXY S5*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

   .for_non_mobile {
      display: none!important;   
    }

    .for_mobile {
      display: block!important;
    }

    .navbar-header {
      display: none!important;
    }

    #scene1 {
      .textbox {
        width: auto!important;
        height: auto!important;
        margin-top: 15px;
      }
    }

    
}

// ---- iphone 6 ----
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .for_non_mobile {
      display: none!important;   
    }

    .for_mobile {
      display: block!important;
    }

    .navbar-header {
      display: none!important;
    }


    #topArea {
      height: 700px!important;

      h4 {
        text-align: center;
        font-size: 20px!important;
        top: 260px!important;
      }

      #auther {
        font-size: 13px!important;
        top: 260px!important;
      }

    }

    #scene1 {
      .textbox {
        width: auto!important;
        height: auto!important;
        margin-top: 15px;
      }
    }
}

// ---- iphone 6 plus ---
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .for_non_mobile {
      display: none!important;   
    }

    .for_mobile {
      display: block!important;
    }

    .navbar-header {
      display: none!important;
    }


    #topArea {
      height: 750px!important;

       h4 {
        text-align: center;
        font-size: 20px!important;
        top: 225px!important;
      }

      #auther {
        font-size: 13px!important;
        top: 220px!important;
      }

    }

    #scene1 {
      .textbox {
        width: auto!important;
        height: auto!important;
        margin-top: 15px;
      }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .logo img{
    display: none;
  }

  .nav {
    padding-left: 0px!important;
  }
  #topArea {

    h4 {
      text-align: center;
      font-size: 30px!important;
      top: 200px!important;
    }

    #auther {
      font-size: 20px!important;
      top: 220px!important;
    }

    #down{
      top: 400px!important;
    }
  }

    #scene1 {
      .textbox {
        width: auto!important;
        height: auto!important;
        margin-top: 15px;
      }
    }
}



