.navigation1 {
  height: 100%;
  position: absolute;
  transition: all .3s ease-in-out;
  z-index: 5;
}
 
.navigation1,
.navigation1 a { 
  color: white; 

}
 
.navigation1.expanded {


}
 
.navigation1.expanded + .content {
  transform: translate3d(50px, 0, 0) rotateY(-10deg);
  transform-origin: 90% 50%;
  transform-style: preserve-3d;
}
 
.nav-toggler1 {
  display: inline-block;
  font-size: 15px;
  left: 100%;
  position: absolute;
  text-decoration: none;
  width: 100px;

}
 
.nav-toggler1 span {
  position: relative;
  z-index: 5;
}
 
.nav-toggler1 .hide-nav1 { display: none; }
 
.expanded .nav-toggler1 .show-nav1 { display: none; }
 
.expanded .nav-toggler1 .hide-nav1 { display: inline-block; }
 
.expanded .nav-toggler1:after { border-color: #e74c3c transparent transparent transparent; }
 
.nav-toggler1:after {
  border-style: solid;
  border-width: 90px 90px 90px 90px;
  transition: border-color .3s ease-in-out;
  width: 0;
}
 
.navigation__inner1 {
  overflow: hidden;
  transition: all .3s ease-in-out;
  width: 0;
}
 
.expanded .navigation__inner1 {
  display: block;
  padding: 20px;
  width: 600px;
}

 
.navigation__inner1 h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0.5em 1.5em 1.2em;
}
 
.navigation__inner1 a {
  display: block;
  padding: .5em 2em;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
 
.navigation__inner1 a.current {
  background: #191f1d;
  border-left-width: 10px;
}
 
.btn {
  border-radius: 0;
 
}

 .sub {
  margin-left: -14px;
  }

.form-control {
  border-radius: 0;
}




