body{
  background: white;
}

.row {
  margin: 0;
}

.textbox{
  text-align: justify;
}

#topArea{
   h4 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    top: 350px;
   }
}

.homepage {
   background-image: asset-url('office.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#down{
  position:absolute;
  width: 100%;
  text-align: center;
  display: none;
  top: 550px!important;
}

#services {
  min-width:980px;
  width: 100%;
  height:500px;
  background: #fff;
}

#auther{
  font-size: 20px;
  color: white;
  text-align: center;
  position: relative;
  top: 330px!important;
  letter-spacing: 1px;
  font-family: 'Cedarville Cursive', cursive;
}

#sceneHowto {
  padding-top: 8%;
  margin-bottom: 2%;
  .ui.segment {
    border-radius: 0;
  }
  .services_p {
    color: #888;
    text-align: center;
    font-size: 21px;
    padding-top: 80px;
    padding-bottom: 60px;
    font-family: 'Cedarville Cursive', cursive;
  }

  h2 {
    text-align: center;
    font-size: 2.5em;
    color: #217C7E;
    font-weight: bold;
    margin-top: 2%;
    font-family: 'Cedarville Cursive', cursive;
  }

  h3 {
    text-align: center;
    color: #888;
  }

  .titles {
    color: #217C7E;
    text-align: center;
  }

  .imgvw {
    margin-top: 3%;
  }

  .imgvwl img{
    width: 100px;
  }

}

.about {
  background-image: asset-url('about.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#scene1{
  padding-top: 2%;
  h3 {
    font-size: 2em;
    color:  rgb(33, 124, 126);
    font-weight: bold;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
  }

  p {
    font-size: 16px;
    color: #2c3e50;
    text-align: justify;
    width: auto!important;
    height: auto!important;
  }

  .textbox {
    width: auto!important;
    height: 300px;
  }

  .abt {
    padding-top: 7%;
  }

  .container {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .black {
    background-color: rgba(255,255,255, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    padding: 15px;
  }

}

.ourteam {
  h2 {
    text-align: center;
    font-size: 2.5em;
    color: #217C7E;
    font-weight: bold;
    margin-top: 5%;
    font-family: 'Cedarville Cursive', cursive;
    margin-bottom: 1%;
  }

  .hidden {
    display: block!important;
    visibility: visible !important;
  }

  padding-bottom: 5%;
}

#scene2{
  background-image: asset-url('telephon.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 3%;
}
#scene2 h3{
  width: 100%;
  text-align: center;
  color: #217C7E;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 5%;
}

.ui.form {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.details {
  padding-top: 50px;
}

.ui.long.modal {
  height: 500px;
  .header {
    h2 {
      text-align: center;
      font-size: 2em;
      color: #217C7E;
      font-weight: bold;
      font-family: 'Cedarville Cursive', cursive;
      overflow: visible!important;
    }
  }

  h3 {
    text-align: center;
    color: #888;
  }

  .column {
    margin-top: 2%;
  }

  .hover {
    background-color: black;
    position: relative;
    //overflow: hidden;
    padding: 0;
    display: table;
  }

  .column .text {
    position: absolute;
    top: 10%;
    visibility: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h5 {
      font-size: 1.1em;
      font-weight: bold;
      color: white;
    }
  }

  .column:hover .text {
    visibility: visible;
  }

  .column:hover img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }

  .column img{
    width: 100%;
    height: 100%;
    opacity: 1;
    display: table-row;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
}

#portfolio-modal.active {
  opacity: 1;
  visibility: visible;
}
.white {
   background-color: rgba(0,0,0, 0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
  margin-top: -2%;
  padding-bottom: 10px;

}

.black {
  background-color: rgba(255,255,255, 0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
  margin-top: -2%;
  padding-bottom: 10px;

}

.load_page {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
  padding-top: 100px;
  img {
    width: 300px;
  }
}

#load_page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/

   img {
    width: 10%;
    margin-top: 16%;
  }

  h4 {
    color: white;
  }
}

.special {
  font-size: 15px;
}

// NAVIGATION

.navbar-inverse {
  background-color: transparent;
  padding-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin-left: 20px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.nav {
  padding-left: 70px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.logo img{
  width: 300px;
  padding-left: 20px;
  margin-top: -5px;
  margin-left: 40px;
}

.navbar-toggle {
  float: left;
  margin-left: 30px;
}

.navbar-toggle .icon-bar {
  background-color: #e2e2e2!important;
}

.for_non_mobile {
  display: block!important;   
}

.for_mobile {
  display: none;
}


// ----- DRAWER -----


.contact-pic {
  width: 100px;
  height: 100px;
}

.hr-contact {
  width: 30%;
}

.navz {
   .ui.button {
    background-color: transparent;
    color: #e2e2e2;
  }
}

.sidebar.icon {
  font-size: 25px;
}

.ui.segment.mobile {
    background: transparent!important;
    border: none!important;
    padding-top: 57px;
    padding-left: 100px;
    a:link {
      color: white!important;
      font-size: 15px;
      letter-spacing: 8px;
    }
  }
.ui.top.visible.sidebar, .ui.bottom.visible.sidebar {
  box-shadow: none!important;
}

.ui.top.sidebar, .ui.bottom.sidebar {
  height: 0px;  
}

.see_our_work {
  .btn { 
    color: #217C7E!important  ;
    font-weight: bold;
    font-size: 18px!important;
    font-family: 'Cedarville Cursive', cursive;
  }
    padding-bottom: 20px;
}