#home {
  background-image: asset-data-url('3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 50vw;
    margin-top: 28%;
    margin-left: -10%;
    padding: 10px;
  }

  .homies {
    background-color: rgba(0,0,0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    width: 100%;
    height: 100%;


    h1 {
      color: #0cd0a0;
      font-weight: bold;
      font-size:3em;
      margin-top: -10px;
    }
    
  }
}

#service {
  background-image: asset-data-url('exclusive_paper.png');

  .responsive {
   .lefts img{
     margin-top: 1px;
     width: 80vw;
     margin-left: -4%;
   }
   .services {
    padding-left: 13%;
    padding-top: 20px;
    margin-bottom: 0px;
    color: #0cd0a0;
    font-size: 1.1vw;
    text-align: justify;
  }

  }
  .our_services {
    background-color: #e2e2e2;
    padding-bottom: 14px;
    padding-top: 20px;



    h1 {
      color: black;
      font-family: 'Muli', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 3em;
    }

    h4 {
      color: black;
      font-family: 'Muli', sans-serif;
      text-align: center;
       font-size: 1em;
    }

    .titles {
      text-align: center;
      color: #1abc9c;
      font-size: 1em;
    }
  }
  
  .consult {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 1.5em;
    padding-bottom: 2px;
    .wk {
      font-size: 12px;
    }
  }
}

.row {
  margin: 0;
}

#about_us {
  background-image: asset-data-url('exclusive_paper.png');
   .teams {
    margin-top: 3%;
    font-size: 3em;
   }
   .image_here_happy img{
      width: 20vw;
    }

    h1 {
      text-align: center;
      margin-top: 3%;
      font-weight: 900;
      margin-bottom: 1%;
      font-size: 3em;
    }
    h3 {
      text-align: center;
      font-size: 25px;
    }

    .name {
      color: #0cd0a0;
    }

    h5 {
      text-align: center;
       font-size: 15px;
    }

    h4{
      font-weight: 900;
      text-decoration-color: #0cd0a0;
      margin-top: 3%;
      font-size: 1.2em;
    }

    .about2 {
        p {
        text-align: justify;
        color: #0cd0a0;
        font-size: 1.2em;
      }
    }

      .about3 {
          p {
          text-align: justify;
          color: #0cd0a0;
          font-size: 1.2em;
        }
      }

      .about4 {
          p {
          text-align: justify;
          color: #0cd0a0;
          font-size: 1.2em;
        }

        li {
          color: #0cd0a0;
          font-size: 1.2em;
        }
      }

      .slide2 {
        margin-top: 2%;
      }

      .team {
        h1 {
          text-align: center;
          margin-top: 5%;
          font-weight: 900;
          margin-bottom: 1%;
          font-size: 3em;
        }
      }
} 

#contact {
  background-image: asset-data-url('exclusive_paper.png');

  .contact {
    height: 300px;
    margin-top: 3%;
  }

  .map {
    background-image: asset-data-url('prince1.png');
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
   }

   .blackop {
    background-color: rgba(0,0,0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    width: 100%;
    height: 100%;
    color: white;
   }

   .move_add {
    padding-left: 100px;
    padding-top: 100px;
   }

   .add {
    text-align: left;
    padding-top: 20px;
    font-size: 1.1em;
   }

   .ready {
    margin-top: 16%;
   }

}

#load_page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/

  img {
    width: 10%;
    margin-top: 16%;
  }

  h4 {
    color: white;
  }
}