body{
  background: white;
  font-family: 'Muli', sans-serif;
}

.row {
  margin: 0;
}

.textbox{
  text-align: justify;
}

#topArea{
   h4 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    top: 300px;
   }
}

.homepage {
   background-image: asset-data-url('office.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#down{
  position:absolute;
  width: 100%;
  text-align: center;
  display: none;
  top: 430px!important;
}

#services {
  min-width:980px;
  width: 100%;
  height:500px;
  background: #fff;
}

#auther{
  font-size:18px;
  color: #F3EFE0;
  text-align: center;
  position: relative;
  top: 283px!important;
}

#sceneHowto {
  margin-bottom: 5%;
  .ui.segment {
    background-image: asset-data-url('footer_lodyas.png');
    border-radius: 0;
  }
  .services_p {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 110px;
    padding-bottom: 60px;
  }

  h2 {
    text-align: center;
    font-size: 3em;
    color: #217C7E;
    font-weight: bold;
    margin-top: 2%;
  }

  h4 {
    text-align: center;
    color: #217C7E;
    font-weight: bold;
  }

  .titles {
    color: #217C7E;
    text-align: center;
  }

  .imgvw {
    margin-top: 3%;
  }

  .imgvwl img{
    width: 125px;
  }

}

.about {
  background-image: asset-data-url('about.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#scene1{
  height: 400px;
  padding-top: 2%;
  h3 {
    text-align: center;
    font-size: 3em;
    color: #FF3333;
    font-weight: bold;
    
  }

  p {
    font-size: 16px;
    color: #2c3e50;
  }

  .abt {
    padding-top: 7%;
  }

}

.ourteam {
    h2 {
    text-align: center;
    font-size: 3em;
    color: #217C7E;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .hidden {
    display: block!important;
    visibility: visible !important;
  }
}

#scene2{
  position: relative;
  height: 450px;
  background-image: asset-data-url('pd.png');
  margin-top: 3%;
}
#scene2 h3{
  width: 100%;
  text-align: center;
  color: #217C7E;
  font-size:30px;
  font-weight: bold;
  margin-top: 4%;
}

.ui.form {
  margin-top: 12%;
}

.details {
  background-color: rgba(255,255,255, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  padding: 10px;
  margin-top: 12%;
  font-size: 23px;
  .fa.fa-phone {
    padding-right: 2px;
    color:#FF3333;
  }

  .fa.fa-envelope-o {
    color: #2ecc71;
  }

  .fa.fa-mobile {
   font-size: 30px;
   padding-left: 3px;
   padding-right: 5px;
   color: #3498db;
  }

  .fa.fa-map-marker {
    padding-right: 7px;
    padding-left: 2px;
    color: #9b59b6;
  }
}

.white {
   background-color: rgba(0,0,0, 0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
  margin-top: -2%;
  padding-bottom: 10px;

}

.black {
   background-color: rgba(255,255,255, 0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
  margin-top: -2%;
  padding-bottom: 10px;

}

.load_page {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
  padding-top: 100px;
  img {
    width: 300px;
  }
}

#load_page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/

   img {
    width: 10%;
    margin-top: 16%;
  }

  h4 {
    color: white;
  }
}

.special {
  font-size: 15px;
}

// NAVIGATION

.navbar-inverse {
  background-color: transparent;
  padding-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin-left: 20px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.logo img{
  width: 300px;
  padding-left: 20px;
  margin-top: -5px;
}

.navbar-toggle {
  float: left;
  margin-left: 30px;
}

.navbar-toggle .icon-bar {
  background-color: #999999!important;
}


